---
import { type CollectionEntry, getCollection } from "astro:content";
import PostLayout from "@/layouts/PostLayout.vue";
import BaseLayout from "@/layouts/Base.astro";
import { TYPE_BOOK } from "@/constants";

export async function getStaticPaths() {
  const posts = await getCollection("read");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"read">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout
  title={post.data.title}
  description={post.data.description}
  background={post.data.background}
>
  <PostLayout post={post.data} type={TYPE_BOOK} client:load>
    <Content />
  </PostLayout>
</BaseLayout>
