---
import BaseLayout from "@/layouts/Base.astro";
import DefaultLayout from "@/layouts/Default.vue";
import TheHeader from "@/components/TheHeader.vue";
import AllBooks from "@/components/AllBooks.astro";

const title = "Books I read";
---

<BaseLayout title={title}>
  <DefaultLayout client:visible>
    <TheHeader
      slot="header"
      title={title}
      subtitle="Small reviews of some more notable books"
      client:load
    />
    <div class="content">
      <AllBooks />
    </div>
  </DefaultLayout>
</BaseLayout>
