---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "@/layouts/Base.astro";
import PostLayout from "@/layouts/PostLayout.vue";
import { TYPE_ARTICLE } from "@/constants";
import formatDateForPostCard from "@/helpers/formatDateForPostCard";
import generateSocialImage from "@/helpers/generateSocialImage";
import getRecommendations from "@/helpers/getRecommendations";
import getWebmentions from "@/helpers/getWebmentions";

export async function getStaticPaths() {
  const posts = await getCollection("wrote");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"wrote">;

const post = Astro.props;
const {
  slug,
  data: { date, title, background, description },
} = post;
const subtitle = formatDateForPostCard(date);
const recommendations = await getRecommendations(slug);
const comments = await getWebmentions(slug);

const { Content } = await post.render();

const socialImage = generateSocialImage({
  title,
  background,
});
---

<BaseLayout
  title={title}
  description={description}
  background={background}
  image={socialImage}
>
  <PostLayout
    post={{ title, background, subtitle, recommendations, comments, slug }}
    type={TYPE_ARTICLE}
    client:load
  >
    <Content />
  </PostLayout>
</BaseLayout>
