---
import BaseLayout from "@/layouts/Base.astro";
import AllPosts from "@/components/AllPosts.astro";
import DefaultLayout from "@/layouts/Default.vue";
import TheHeader from "@/components/TheHeader.vue";

const title = "Things I wrote";
---

<BaseLayout title={title}>
  <DefaultLayout client:visible>
    <TheHeader
      slot="header"
      title={title}
      subtitle="Posts and stuff"
      client:load
    />
    <div class="content">
      <AllPosts />
    </div>
  </DefaultLayout>
</BaseLayout>
