.astro-code {
  background-color: var(--color__black);
  border-radius: var(--ratio--inv--pow_em);
  margin: var(--ratio--inv_em) 0;
  overflow: hidden;
  position: relative;
}
.astro-code code {
  background-color: var(--color__black);
  display: block;
  margin: 0 auto;
  overflow: auto;
  padding: var(--ratio_em);
  position: relative;
  width: 100%;
}

.astro-code::after,
.astro-code::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: var(--ratio_em);
  z-index: 2;
}

.astro-code::after {
  background-image: linear-gradient(
    to right,
    hsla(var(--color__black--components), 0),
    hsla(var(--color__black--components), 1)
  );
  right: 0;
}

.astro-code::before {
  background-image: linear-gradient(
    to left,
    hsla(var(--color__black--components), 0),
    hsla(var(--color__black--components), 1)
  );
  left: 0;
}

/* Start here */
/* ========== */

/* Not used yet
  .token.block-comment,
  .token.bold,
  .token.builtin,
  .token.char,
  .token.deleted,
  .token.function-name,
  .token.inserted,
  .token.italic,
  .token.namespace,
  .token.symbol,
  .token.url,
  null {
    border: 1px solid red;
  }
*/

.token.comment {
  color: var(--color__gray);
}

.token.punctuation {
  color: var(--color__gray--light);
}

.token.variable {
  color: var(--color__pink);
}

.token.attr-value,
.token.string {
  color: var(--color__orange);
}

.token.boolean,
.token.entity,
.token.number,
.token.regex {
  color: var(--color__orangered);
}

.token.class-name,
.token.constant {
  color: var(--color__red);
}

.token.cdata,
.token.function {
  color: var(--color__blue--light);
}

.token.doctype,
.token.prolog,
.token.property,
.token.tag {
  color: var(--color__green);
}

.token.atrule,
.token.attr-name,
.token.important,
.token.keyword,
.token.operator,
.token.selector {
  color: var(--color__yellow);
}
