@media (prefers-color-scheme: dark) {
  html {
    --default_background: #17181c;
    background: var(--color__black);
    color: var(--color__white);
  }

  a,
  a:visited {
    color: var(--color__blue--light);
  }

  a:hover,
  a:focus {
    color: var(--color__blue);
  }

  .astro-code {
    border: var(--ratio--inv--pow_em) solid var(--color__gray--dark);
  }
}
