*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  --ratio: 1.61803;
  --ratio--pow: 2.61803;
  --ratio--pow--3: 4.23603665;
  --ratio--inv: 0.61803;
  --ratio--inv--pow: 0.38196;

  --ratio_em: calc(var(--ratio) * 1em);
  --ratio--pow_em: calc(var(--ratio--pow) * 1em);
  --ratio--pow--3_em: calc(var(--ratio--pow--3) * 1em);
  --ratio--inv_em: calc(var(--ratio--inv) * 1em);
  --ratio--inv--pow_em: calc(var(--ratio--inv--pow) * 1em);

  --breakpoint__small: 720px;
  --breakpoint__medium: 1064px;
  --breakpoint__large: 1370px;

  --color__black--components: 223, 23%, 20%;
  --color__black: hsl(var(--color__black--components));
  --color__black--trans: hsla(
    var(--color__black--components),
    var(--ratio--inv)
  );

  --color__white: #fff;

  --color__gray: #999;
  --color__gray--light: #eee;
  --color__gray--dark: #5d5d66;

  --color__blue: #1f74ad;
  --color__blue--light: #68b2e4;

  --color__red: #d85d50;
  --color__orangered: #d77f64;
  --color__orange: #f0b26a;
  --color__yellow: #f7de79;
  --color__pink: #e679cf;
  --color__green: #33e2bf;

  --default_background: #31394e;

  --ease--anticipate: cubic-bezier(0.6, -0.1, 0.75, 0.045);
  --ease--bounce-in: cubic-bezier(0.38, 0.3, 0.41, 1.2);
  --ease--bounce-in-2: cubic-bezier(0.11, 1.14, 0.51, 1.59);

  --body-font: "Helvetica Neue", Helvetica, sans-serif;
  --code-font: "Droid Sans Mono", "consolas", "monaco", "courier", monospace;

  --heading-font: "Gill sans", var(--body-font);

  --line-height: 1.8em;
  --font-weight: 300;
  --font-size: 16px;

  --paragraph-width: 38em;
  --underline-height: 2px;

  --animation_interaction: 0.4s;

  background-color: var(--color__white);
  color: var(--color__black);
  font-family: var(--body-font);
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  line-height: var(--line-height);
}

@media screen and (min-width: 56em) {
  html {
    font-size: calc(var(--font-size) * 1.2);
  }
}

@media (prefers-reduced-motion) {
  html {
    /* Setting this really small to prevent transitionEnd listeners from breaking */
    --animation_interaction: 0.01s;
  }
}

/*
  # Text
*/

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

u {
  text-decoration: underline;
}

s,
strike {
  text-decoration: line-through;
}

p {
  margin-bottom: var(--ratio--inv_em);
  max-width: var(--paragraph-width);
}

/* 
  # Lists
*/

ol,
ul {
  margin-bottom: var(--ratio_em);
  margin-left: 1em;
}

/*
  # Links
*/

a,
a:visited {
  color: var(--color__blue);
  transition: color var(--animation_interaction);
}
a:hover,
a:focus {
  color: var(--color__blue--light);
}

/*
  # Images
  1. Offset `alt` text from surrounding copy.
  2. Fluid images for responsive purposes.
  3. Setting `vertical-align` removes the whitespace that appears under `img`
     elements when they are dropped into a page as-is. Safer alternative to
     using `display: block;`.
*/

img {
  font-style: italic; /*[1]*/
  max-width: 100%; /*[2]*/
  vertical-align: middle; /*[3]*/
}

/*
  # HR
*/

hr {
  background-color: currentcolor;
  border: 0;
  display: block;
  height: 1px;
  margin: var(--ratio--pow_em) 20%;
  max-width: calc(var(--paragraph-width) - 40%);
  opacity: var(--ratio--inv);
  width: 60%;
}

/*
  # Headings
*/

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  font-weight: 600;
  line-height: 1em;
  margin: 0 0 var(--ratio--inv_em);
  padding-top: var(--ratio_em);
  text-transform: uppercase;
  word-break: break-word;
}

h1 {
  font-size: var(--ratio--pow_em);
}

h2 {
  font-size: var(--ratio_em);
}

h3,
h4 {
  font-size: calc(0.5 * var(--ratio--inv_em) + 1em);
}

/*
  # Quotes
*/

blockquote {
  border-left: var(--ratio--inv_em) solid var(--color__gray--light);
  padding-left: 1em;
  font-size: var(--ratio_em);
  line-height: var(--ratio_em);
}

/*
  # Code
*/

code {
  -webkit-font-smoothing: antialiased;
  background-color: var(--color__gray--dark);
  border-radius: 3px;
  color: var(--color__white);
  font-family: var(--code-font);
  padding: 0.1459em 0.38197em; /* minute powers of the ratio, easier to hard-code */
  text-transform: none;
  white-space: pre;
}

a code {
  background-color: var(--color__blue);
  transition: background var(--animation_interaction);
}

a code:hover,
a code:focus {
  background-color: var(--color__blue--light);
}

/*
  # Small
*/

small {
  font-size: var(--ratio--inv_em);
}

/*
  # First para
*/

.content > p:first-of-type,
.content > astro-slot > p:first-of-type {
  font-size: var(--ratio_em);
  line-height: var(--ratio_em);
}

/*
  # Marber
*/

@media screen and (min-width: 38em) {
  .marber {
    display: grid;
    grid-template-columns:
      minmax(0, 0.102fr)
      minmax(0, 0.115fr)
      minmax(0, 0.051fr)
      minmax(0, 0.722fr);
  }
}

.fullscreen {
  height: 120vh !important;
  left: -10% !important;
  padding: 0 !important;
  position: fixed !important;
  top: -10% !important;
  width: 120vw !important;
}

.content img,
.bookMeta img {
  border-radius: var(--ratio--inv--pow_em);
  margin: var(--ratio_em) 0;
  height: auto;
}
