---
import BaseLayout from "@/layouts/Base.astro";
import AllPosts from "@/components/AllPosts.astro";
import DefaultLayout from "@/layouts/Default.vue";
import TheHeader from "@/components/TheHeader.vue";
import CircleLink from "@/components/CircleLink.vue";
---

<BaseLayout title="Page not found">
  <DefaultLayout client:visible>
    <TheHeader
      slot="header"
      title="404 🙈"
      subtitle="Page not found"
      client:load
    />
    <div class="content">
      <p>It looks like you've stumbled across a broken page.</p>
      <p>
        Unless you were looking for the 404 page. In which case,
        congratulations! Welcome to the 404 page. I recommend trying one of the
        pages below though, they're much more interesting.
      </p>
      <AllPosts limit={12} />
      <CircleLink to="/wrote" client:visible>See all &rarr;</CircleLink>
    </div>
  </DefaultLayout>
</BaseLayout>
