---
import BaseLayout from "@/layouts/Base.astro";
import AllPosts from "@/components/AllPosts.astro";
import DefaultLayout from "@/layouts/Default.vue";
import TheHeader from "@/components/TheHeader.vue";
---

<BaseLayout>
  <DefaultLayout client:visible>
    <TheHeader slot="header" title="You're in! 🎉" client:load />
    <div class="content">
      <p>Thank you for subscribing. Welcome to the newsletter!</p>
      <p>
        You should see an email from me in your inbox shortly. In the mean-time,
        consider these recent articles:
      </p>
    </div>
    <AllPosts limit={12} />
  </DefaultLayout>
</BaseLayout>
