---
import BaseLayout from "@/layouts/Base.astro";
import AllPosts from "@/components/AllPosts.astro";
import DefaultLayout from "@/layouts/Default.vue";
import TheHeader from "@/components/TheHeader.vue";
import AllBooks from "@/components/AllBooks.astro";
import CircleLink from "@/components/CircleLink.vue";
---

<BaseLayout>
  <DefaultLayout client:visible>
    <TheHeader slot="header" title="Alreet Pets! 👋" client:load />
    <div class="content">
      <div class="content">
        <p>
          Sam is an Engineering Manager at
          <a href="https://gitlab.com">GitLab</a>.
        </p>

        <p>
          He's a huge fan of the three E's: Engineering, Efficiency, and Eating
          pizza. You can follow him as <code>samdbeckham</code> on
          <a href="https://gitlab.com/samdbeckham">GitLab</a>,
          <a href="http://twitter.com/samdbeckham">Twitter</a>,
          <a href="http://mastodon.social/@samdbeckham/">Mastodon</a>, and
          whatever else people use these days.
        </p>
        <h2>Things I Wrote</h2>
        <AllPosts limit={12} />
        <CircleLink to="/wrote" client:visible>See all &rarr;</CircleLink>

        <h2>Things I'm Reading</h2>
        <AllBooks limit={4} />
        <CircleLink to="/read" client:visible>See all &rarr;</CircleLink>
      </div>
    </div>
  </DefaultLayout>
</BaseLayout>
