---
import BaseLayout from "@/layouts/Base.astro";
import DefaultLayout from "@/layouts/Default.vue";
import TheHeader from "@/components/TheHeader.vue";
---

<BaseLayout>
  <DefaultLayout client:visible>
    <TheHeader slot="header" title="Oh noes, you're offline 📵" client:load />
    <div class="content">
      <p>The web is a pretty dull place without an internet connection.</p>
      <p>
        I'd love to say there was something meaningful on this page, but there
        isn't.
      </p>
    </div>
  </DefaultLayout>
</BaseLayout>
