<template>
  <section class="article-footer" :class="{ wobble: wobble }">
    <marber-grid>
      <div class="grid">
        <div class="meta">
          <h2>Stay informed 🧠</h2>
          <p>
            Subscribe to the newsletter to stay up to date. I send approximately
            one email per-month, or whenever I post a new article.
          </p>
          <p>
            If email isn't your thing, add the <a href="/rss.xml">RSS feed</a>,
            or follow me on
            <a rel="me" href="http://twitter.com/samdbeckham">Twitter</a>/<a
              rel="me"
              href="https://mastodon.social/@samdbeckham"
              >Mastodon</a
            >.
          </p>
          <newsletter-signup />
        </div>
      </div>
    </marber-grid>
  </section>
</template>

<script>
import NewsletterSignup from "./NewsletterSignup.vue";
import MarberGrid from "./MarberGrid.vue";
export default {
  name: "ArticleFooter",
  components: { MarberGrid, NewsletterSignup },
  data: () => ({
    wobble: false,
  }),
  mounted() {
    let observer = new IntersectionObserver(this.dance, { threshold: 0.75 });
    observer.observe(this.$el);
  },
  methods: {
    dance([entry]) {
      if (entry.isIntersecting) {
        this.wobble = true;
      }
    },
  },
};
</script>

<style scoped>
h2 {
  padding-top: 0;
}
.article-footer {
  margin: var(--ratio_em) 0;
}
.grid {
  background: var(--color__gray--light);
  border-radius: 1em;
  padding: var(--ratio_em);
}

@keyframes wobble {
  0%,
  100% {
    transform: scale(1) rotate(0);
  }
  5% {
    transform: scale(0.9) rotate(0);
  }
  40%,
  70% {
    transform: scale(1.1) rotate(0);
  }
  50% {
    transform: scale(1.1) rotate(5deg);
  }
  60% {
    transform: scale(1.1) rotate(-5deg);
  }
}

.wobble {
  animation: wobble 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

@media (prefers-color-scheme: dark) {
  .grid {
    background: var(--color__gray--dark);
  }
}
</style>
