<template>
  <a :style="style" :href="path" class="card" @click.prevent="openLink">
    <div class="card__content"><slot /></div>
  </a>
</template>

<script>
import "@/assets/css/imports/card.css";
import grow from "../helpers/grow";
import prefetch from "../helpers/prefetch";
import {
  createObserver,
  destroyObserver,
} from "../helpers/intersectionObserver";

export default {
  name: "BaseCard",
  props: {
    path: {
      type: String,
      required: true,
    },
    background: {
      type: String,
      default: "#31394e",
    },
  },
  data: () => ({
    isPrefetched: false,
  }),
  computed: {
    style() {
      return `background-color: ${this.background}`;
    },
  },
  mounted() {
    createObserver(this.$el, this.prefetch);
  },
  destroyed() {
    destroyObserver(this.$el);
  },
  methods: {
    openLink() {
      grow(this.$el).then(() => {
        window.location.assign(this.$props.path);
      });
    },
    prefetch: function () {
      if (this.isPrefetched) {
        return;
      }
      this.isPrefetched = true;
      prefetch(this.path);
    },
  },
};
</script>
