<template>
  <div class="wrapper">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "BaseWrapper"
};
</script>

<style scoped>
.wrapper {
  margin: 0 auto;
  max-width: var(--breakpoint__large);
  padding: var(--ratio_em);
  position: relative;
  width: 100%;
}
</style>
