<template>
  <base-card :path="book.path" :background="book.background" class="card--book">
    <span v-if="book.reading" aria-hidden="true" class="card--book__reading"
      >Reading</span
    >
    <img class="book__cover" :src="cover" :alt="book.title" />
  </base-card>
</template>

<script>
import "@/assets/css/imports/card--book.css";
import BaseCard from "./BaseCard.vue";

export default {
  name: "BookCard",
  components: {
    BaseCard,
  },
  props: {
    book: {
      type: Object,
      required: true,
    },
  },
  computed: {
    cover() {
      return `book_covers/${this.book.cover}`;
    },
  },
};
</script>
