<template>
  <div class="bookMeta">
    <img class="cover" :src="image" />
    <my-button v-if="purchaseLink" :url="purchaseLink" full>Read it</my-button>
  </div>
</template>

<script>
import MyButton from "./TheButton.vue";

export default {
  name: "BookMeta",
  components: {
    MyButton,
  },
  props: {
    coverImage: {
      type: String,
      required: true,
    },
    purchaseLink: {
      type: String,
      required: false,
      default: "",
    },
  },
  computed: {
    image() {
      return `/book_covers/${this.coverImage}`;
    },
  },
};
</script>

<style scoped>
.bookMeta {
  background: var(--color__white);
  border-radius: var(--ratio--inv--pow_em);
  text-align: center;
}

.cover {
  margin: 0 0 var(--ratio--inv_em);
  width: calc(var(--paragraph-width) * var(--ratio--inv));
}

@media screen and (min-width: 38em) {
  .bookMeta {
    left: var(--ratio_em);
    max-width: 21.7%;
    padding: var(--ratio_em);
    position: absolute;
    top: var(--ratio--inv_em);
    width: 100%;
  }
}

@media (prefers-color-scheme: dark) {
  .bookMeta {
    background: var(--color__black);
  }
}
</style>
