<template>
  <div class="post-list">
    <book-card v-for="book in books" :key="book.id" :book="book" />
  </div>
</template>

<script>
import "@/assets/css/imports/post-list.css";
import BookCard from "./BookCard.vue";

export default {
  name: "AllBooks",
  components: {
    BookCard,
  },
  props: {
    books: {
      type: Object,
      required: true,
    },
  },
};
</script>
