<template>
  <div :class="{ animating }">
    <a :aria-label="label" :href="to" @click.prevent="goTo">
      <slot></slot>
    </a>
    <svg class="circle" viewBox="0 0 2 2">
      <circle cx="1" cy="1" r="1" :style="style" />
    </svg>
  </div>
</template>

<script>
import prefetch from "@/helpers/prefetch";

export default {
  name: "CircleLink",
  props: {
    to: {
      type: String,
      required: true,
    },
    label: {
      type: String,
      required: false,
      default: "",
    },
    color: {
      type: String,
      required: false,
      default: "",
    },
  },
  data: () => ({
    animating: false,
  }),
  computed: {
    style() {
      return this.color ? { fill: this.color } : null;
    },
  },
  mounted() {
    prefetch(this.to);
  },
  methods: {
    goTo() {
      requestAnimationFrame(() => (this.animating = true));
      this.$el.addEventListener("transitionend", (e) => {
        if (e.propertyName === "transform") {
          window.location.assign(this.to);
        }
      });
    },
  },
};
</script>

<style scoped>
div {
  display: inline-block;
}

a {
  display: block;
}

.circle {
  fill: var(--default_background);
  height: 4000px;
  left: 50%;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.01);
  transition: transform var(--animation_interaction) ease-in,
    opacity calc(var(--animation_interaction) / 2) ease-out;
  width: 4000px;
}

.animating {
  position: relative;
  z-index: 9999;
}

.animating .circle {
  opacity: 1;
  transform: translate(-50%, -50%);
}
</style>
