<script>
const getObserver = (options) =>
  new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      entry.target.$_intersectionHandler(entry);
    });
  }, options || {});

export default {
  name: "IntersectionObserver",
  props: {
    options: {
      type: Object,
      required: false,
      default: null,
    },
  },
  mounted() {
    const observer = getObserver(this.options);

    this.$el.$_intersectionHandler = (entry) => {
      this.$emit("update", entry);

      if (entry.isIntersecting) {
        this.$emit("appear");
      } else {
        this.$emit("disappear");
      }
    };
    this.$el.$_intersectionObserver = observer;

    observer.observe(this.$el);
  },
  destroyed() {
    this.$el.$_intersectionObserver.unobserve(this.$el);
    delete this.$el.$_intersectionHandler;
    delete this.$el.$_intersectionObserver;
  },
};
</script>

<template>
  <div>
    <slot></slot>
  </div>
</template>
