<template>
  <circle-link to="/" label="home">
    <svg viewBox="0 0 410 660" xmlns="http://www.w3.org/2000/svg" class="logo">
      <path
        d="M201 247C175 247 154 226 154 200 154 187 159.3 175.3 167.8 166.8 176.3 158.3 188 153 201 153 227 153 248 174 248 200 248 210.6 244.5 220.3 238.6 228.2 291.7 237.3 338.2 265.5 371 305.4L371 305.4C390 274.8 401 238.7 401 200 401 89.5 311.5 0 201 0 90.5 0 1 89.5 1 200 1 219.3 3.7 238 8.9 255.7L8.9 255.7C32.9 338.8 109.3 399.6 200 400 226 400 247 421 247 447 247 460 241.7 471.7 233.2 480.2 224.7 488.7 213 494 200 494 174 494 153 473 153 447 153 436.4 156.5 426.7 162.4 418.8 109.3 409.7 62.8 381.5 30 341.6L30 341.6C11 372.2 0 408.3 0 447 0 557.5 89.5 647 200 647 310.5 647 400 557.5 400 447 400 427.7 397.3 409 392.1 391.3L392.1 391.3C368.1 308.2 291.7 247.4 201 247L201 247Z"
      />
    </svg>
  </circle-link>
</template>

<script>
import CircleLink from "@/components/CircleLink.vue";
export default {
  name: "LogoLink",
  components: {
    CircleLink,
  },
};
</script>

<style scoped>
.logo {
  display: block;
  fill: var(--color__white);
  width: 1em;
}
</style>
