<template>
  <div class="marber">
    <div class="main">
      <slot></slot>
    </div>

    <div v-if="hasSidebar" class="sidebar">
      <slot name="sidebar"></slot>
    </div>

    <template v-else>
      <div v-if="hasSidebarA" class="sidebar-a">
        <slot name="sidebar-a"></slot>
      </div>
      <div v-if="hasSidebarB" class="sidebar-b">
        <slot name="sidebar-b"></slot>
      </div>
    </template>

    <div v-if="hasGutter" class="gutter">
      <slot name="gutter"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "MarberGrid",
  computed: {
    hasSidebar() {
      return Boolean(this.$slots.sidebar);
    },
    hasSidebarA() {
      return Boolean(this.$slots.sidebarA);
    },
    hasSidebarB() {
      return Boolean(this.$slots.sidebarB);
    },
    hasGutter() {
      return Boolean(this.$slots.gutter);
    },
  },
};
</script>

<style scoped>
/* The grid part is now a global style */

@media screen and (min-width: 38em) {
  .side-a {
    grid-column: 1;
    order: 1;
  }
  .side-b {
    grid-column: 2;
    order: 2;
  }
  .sidebar {
    grid-column: 1 / 3;
    order: 1;
  }
  .gutter {
    grid-column: 3;
    order: 3;
  }
  .main {
    grid-column: 4;
    order: 4;
  }
}
</style>
