<template>
  <my-button :url="shareUrl"><slot>Share this on Mastodon</slot></my-button>
</template>

<script>
import MyButton from "@/components/TheButton.vue";
import getMastodonShareUrl from "@/helpers/getMastodonShareUrl";

export default {
  name: "MastodonShare",
  components: {
    MyButton,
  },
  props: {
    url: {
      type: String,
      required: true,
    },
  },
  computed: {
    shareUrl() {
      return getMastodonShareUrl({ url: this.url });
    },
  },
};
</script>
