<template>
  <form @submit.prevent="submitForm" class="form">
    <div class="form__group">
      <label for="email">Email Address:</label>
      <input
        id="email"
        v-model="email"
        class="input"
        type="email"
        placeholder="Enter your email address"
        name="email"
        required
      />
      <button class="button" type="submit">Subscribe</button>
    </div>
    <input
      v-model="honeypot"
      aria-hidden="true"
      type="text"
      name="hpc4b27b6e-eb38-11e9-be00-06b4694bee2a"
      tabindex="-1"
      autocomplete="nope"
    />
  </form>
</template>

<script>
import "@/assets/css/imports/button.css";
import "@/assets/css/imports/form.css";

async function postData(url = "", data = {}) {
  const response = await fetch(url, {
    method: "POST",
    cache: "no-cache",
    headers: {
      "Content-Type": "application/json",
    },
    referrerPolicy: "no-referrer",
    body: JSON.stringify(data),
  });
  return response.json();
}
const FORM_ACTION =
  "https://eocampaign1.com/form/2d8029a8-023e-11ee-89da-95005ea01b6f";
const THANKS_PAGE = "/appreciates-you";

export default {
  data: () => ({
    email: "",
    honeypot: "",
    error: false,
  }),
  methods: {
    submitForm() {
      const payload = {
        field_0: this.email,
        "hpc4b27b6e-eb38-11e9-be00-06b4694bee2a": this.honeypot,
      };

      postData(FORM_ACTION, payload).then((data) => {
        if (data.success) {
          window.location.assign(THANKS_PAGE);
        } else {
          this.error = true;
        }
      });
    },
  },
};
</script>

<style scoped>
[aria-hidden],
label {
  position: absolute;
  left: -999999px;
}
</style>
