<template>
  <section class="comments">
    <marber-grid>
      <div class="heading">
        <h2>Comments</h2>
        <span>
          (Powered by
          <a
            class="help-link"
            href="https://indieweb.org/Webmention"
            title="What is a webmention?"
            >webmentions</a
          >)
        </span>
      </div>
      <div v-if="comments?.length">
        <post-comment
          v-for="comment in comments"
          :key="comment.id"
          :author="comment.author"
          :text="comment.text"
          :date="comment.published"
          :source="comment.url"
        />
        <mastodon-share :url="url">Add to the Conversation</mastodon-share>
      </div>
      <p v-else>
        <mastodon-share :url="url">Start the Conversation</mastodon-share>
      </p>
    </marber-grid>
  </section>
</template>

<script>
import MarberGrid from "@/components/MarberGrid.vue";
import PostComment from "@/components/PostComment.vue";
import MastodonShare from "@/components/MastodonShare.vue";

export default {
  name: "PostComments",
  components: {
    MastodonShare,
    MarberGrid,
    PostComment,
  },
  props: {
    slug: {
      type: String,
      required: true,
    },
    comments: {
      type: Array,
      required: false,
    },
  },
  computed: {
    url() {
      return `https://sam.beckham.io${this.slug}`;
    },
  },
};
</script>

<style scoped>
.comments {
  margin: var(--ratio_em) 0;
  padding: var(--ratio--pow_em) 0 0;
  border-top: 1px solid var(--color__gray);
}

.heading {
  display: flex;
  justify-content: baseline;
}

.heading h2 {
  padding-top: 0;
}

.heading span {
  font-style: italic;
  margin-left: var(--ratio--inv_em);
}
</style>
