<template>
  <base-card :path="path" :background="background" class="card--post">
    <div class="titles">
      <h3>{{ title }}</h3>
      <em>{{ subtitle }}</em>
    </div>
  </base-card>
</template>

<script>
import "@/assets/css/imports/card--post.css";
import BaseCard from "./BaseCard.vue";

export default {
  name: "PostCard",
  components: {
    BaseCard,
  },
  props: {
    title: {
      type: String,
      required: true,
    },
    path: {
      type: String,
      required: true,
    },
    subtitle: {
      type: String,
      required: true,
    },
    background: {
      type: String,
      default: "#31394e",
    },
  },
};
</script>
