<template>
  <div class="post-list">
    <post-card
      v-for="post in posts"
      :key="post.id"
      :title="post.title"
      :subtitle="post.subtitle"
      :path="post.path"
      :background="post.background"
    />
  </div>
</template>

<script>
import "@/assets/css/imports/post-list.css";
import PostCard from "@/components/PostCard.vue";

export default {
  name: "PostList",
  components: { PostCard },
  props: {
    posts: {
      type: Array,
      required: true,
    },
  },
};
</script>
