<template>
  <div class="comment">
    <img v-if="author" class="avatar" :src="author.photo" alt="" />
    <img v-else class="avatar" :src="randomCage" alt="" />
    <div class="info">
      <a
        v-if="author"
        class="author"
        :href="url"
        target="_blank"
        rel="nofollow"
        >{{ author.name }}</a
      >
      -
      <em v-if="source" class="source">{{ date }}</em>
      <p class="content">{{ text }}</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "PostComments",
  props: {
    author: {
      type: Object,
      required: true,
    },
    date: {
      type: String,
      required: true,
    },
    source: {
      type: String,
      required: true,
    },
    text: {
      type: String,
      required: true,
    },
  },
  computed: {
    randomCage() {
      const size = Math.floor(Math.random() * 100) + 200;
      return `https://www.placecage.com/${size}/${size}`;
    },
    url() {
      return this.source || this.author.url;
    },
  },
};
</script>

<style scoped>
.comment {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: var(--ratio--pow--3_em) auto;
  margin-bottom: var(--ratio_em);
}

.author {
  font-weight: bold;
}

.avatar {
  border-radius: var(--ratio--inv--pow_em);
}
</style>
