<template>
  <section v-if="posts.length" class="read-next">
    <marber-grid>
      <h2>Read Next</h2>
      <post-list :posts="posts" />
      <circle-link to="/wrote">See all &rarr;</circle-link>
    </marber-grid>
  </section>
</template>

<script>
import MarberGrid from "./MarberGrid.vue";
import PostList from "./PostList.vue";
import CircleLink from "./CircleLink.vue";
export default {
  name: "ReadNext",
  components: { CircleLink, MarberGrid, PostList },
  props: {
    posts: { type: Array, required: true },
  },
};
</script>

<style scoped>
.read-next {
  border-top: 1px solid var(--color__gray);
  margin: var(--ratio_em) 0;
}
</style>
