<template>
  <span
    >Follow me on,
    <a rel="me" href="http://twitter.com/samdbeckham">Twitter</a>,
    <a rel="me" href="https://mastodon.social/@samdbeckham">Mastodon</a>,
    <a rel="me" href="http://gitlab.com/samdbeckham">GitLab</a>,
    <a rel="me" href="http://linkedin.com/in/samdbeckham">LinkedIn</a>, or
    <a rel="me" href="/rss.xml">RSS</a>
  </span>
</template>

<script>
export default {
  name: "SocialLinks",
};
</script>

<style scoped>
a,
a:visited,
a:hover {
  color: inherit !important;
}
</style>
