<template>
  <a
    :href="url"
    class="button"
    target="_blank"
    rel="nofollow noreferrer"
    :class="{ 'button--full': full }"
    ><slot></slot
  ></a>
</template>

<script>
import "@/assets/css/imports/button.css";
export default {
  name: "TheButton",
  props: {
    url: {
      type: String,
      required: true,
    },
    full: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
};
</script>
