<template>
  <footer :style="style" class="footer">
    <base-wrapper>
      <logo-link />
      <social-links />
      <small>&copy; {{ currentYear }} Sam Beckham</small>
    </base-wrapper>
  </footer>
</template>

<script>
import BaseWrapper from "@/components/BaseWrapper.vue";
import LogoLink from "@/components/LogoLink.vue";
import SocialLinks from "./SocialLinks.vue";

export default {
  name: "TheFooter",
  components: {
    BaseWrapper,
    LogoLink,
    SocialLinks,
  },
  props: {
    background: {
      type: String,
      required: false,
      default: "",
    },
  },
  computed: {
    style() {
      return this.background ? `background: ${this.background}` : {};
    },
    currentYear() {
      return new Date().getFullYear();
    },
  },
};
</script>

<style scoped>
footer {
  background: var(--default_background);
  color: var(--color__white);
  display: grid;
  text-align: center;
}

span,
small {
  display: block;
}
</style>
