<template>
  <header :style="styles" class="page__header" :class="{ 'load-in': !loaded }">
    <base-wrapper>
      <marber-grid>
        <div class="page__headings">
          <h1>{{ title }}</h1>
          <span>{{ subtitle }}</span>
        </div>
      </marber-grid>
    </base-wrapper>
  </header>
</template>

<script>
import MarberGrid from "@/components/MarberGrid.vue";
import BaseWrapper from "@/components/BaseWrapper.vue";

export default {
  name: "TheHeader",
  components: {
    BaseWrapper,
    MarberGrid,
  },
  props: {
    title: { type: String, required: true },
    background: { type: String, required: false, default: "" },
    subtitle: { type: String, required: false, default: "" },
  },
  data: () => ({
    loaded: false,
  }),
  computed: {
    styles() {
      return this.background ? `background-color: ${this.background}` : {};
    },
  },
  unmounted() {
    this.loaded = false;
  },
  mounted() {
    requestAnimationFrame(() => (this.loaded = true));
  },
};
</script>

<style scoped>
.page__header {
  align-items: end;
  background-color: var(--default_background);
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  background-blend-mode: overlay;
  display: grid;
  min-height: 72vh;
  overflow: hidden;
  position: relative;
  transform-origin: 0 0;
  transform: 0;
  transition: transform 0.4s var(--ease--bounce-in);
  z-index: 91;
}
.page__header::before {
  background-color: inherit;
  bottom: 100%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}

.page__headings {
  color: var(--color__white);
  transform: translateY(0);
  transition: transform 0.3s 0.3s var(--ease--bounce-in-2);
  font-size: var(--ratio_em);
  line-height: 1em;
  padding-bottom: var(--ratio--inv_em);
}

h1 {
  margin: 0;
}

span {
  display: block;
  margin-top: var(--ratio--inv_em);
}

.page__header.load-in {
  transform: scale(1, 2);
}
.page__header.load-in .page__headings {
  transform: translateY(10em);
}

@media (prefers-reduced-motion) {
  .page__header.load-in,
  .page__header.load-in .page__headings {
    transform: none;
  }
}
</style>
