<template>
  <header role="banner">
    <base-wrapper>
      <div class="flex">
        <logo-link />
      </div>
    </base-wrapper>
  </header>
</template>

<script>
import BaseWrapper from "@/components/BaseWrapper.vue";
import LogoLink from "@/components/LogoLink.vue";

export default {
  components: {
    BaseWrapper,
    LogoLink,
  },
};
</script>

<style scoped>
header {
  position: absolute;
  width: 100%;
  z-index: 92;
}

.flex {
  display: flex;
  justify-content: space-between;
}
</style>
