<template>
  <my-button :url="shareUrl"><slot>Share this on Twitter</slot></my-button>
</template>

<script>
import MyButton from "@/components/TheButton.vue";
import getTwitterShareUrl from "@/helpers/getTwitterShareUrl";

export default {
  name: "TwitterShare",
  components: {
    MyButton,
  },
  props: {
    url: {
      type: String,
      required: true,
    },
  },
  computed: {
    shareUrl() {
      return getTwitterShareUrl({ url: this.url });
    },
  },
};
</script>
