<template>
  <div class="video">
    <iframe :src="videoSrc" frameborder="0" allowfullscreen></iframe>
  </div>
</template>

<script>
export default {
  name: "YoutubeVideo",
  props: {
    videoId: {
      type: String,
      required: true,
    },
  },
  computed: {
    videoSrc() {
      return `https://youtube.com/embed/${this.$props.videoId}`;
    },
  },
};
</script>

<style scoped>
.video {
  margin-top: var(--ratio_em);
  padding: 56.25% 0 0;
  position: relative;
  width: 100%;
}

iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
</style>
