.button {
  background: var(--color__blue);
  border: none;
  border-radius: var(--ratio--inv--pow_em);
  color: var(--color__white) !important;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1em;
  padding: var(--ratio--inv_em) 1em;
  text-decoration: none;
  transition: opacity var(--animation_interaction);
}

.button:hover,
.button:focus {
  opacity: var(--ratio--inv);
}

.button--full {
  display: block;
  text-align: center;
}
