.card {
  background-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
  background-blend-mode: overlay;
  border-radius: var(--ratio--inv_em);
  background-color: var(--color__black);
  position: relative;
  text-decoration: none;
  transition: transform var(--animation_interaction);
}

.card:hover,
.card:focus {
  transform: scale(1.1);
  z-index: 2;
}
.card:active {
  transform: scale(1);
}

.card__content {
  transition: opacity var(--animation_interaction);
}

.card.transitioning {
  transition-timing-function: var(--ease--anticipate);
  transform-origin: 0 0;
  z-index: 999;
}

.card.transitioning .card__content {
  opacity: 0;
}

@media (prefers-reduced-motion) {
  .card:hover,
  .card:focus {
    box-shadow: 0 0 0 var(--ratio--inv_em) var(--color__blue);
    outline: var(--ratio--inv--pow_em) solid var(--color__white);
    transform: none !important;
  }
  .card:active {
    box-shadow: none;
  }
}
