.card--book {
  align-self: end;
  display: grid;
  transform-origin: center 100%;
}

.card img {
  border-radius: var(--ratio--inv_em);
  margin: 0;
}

.card--book__reading {
  background: var(--color__black);
  border-radius: var(--ratio--inv--pow_em);
  bottom: var(--ratio--inv--pow_em);
  color: var(--color__white);
  font-weight: bold;
  left: var(--ratio--inv--pow_em);
  position: absolute;
  right: var(--ratio--inv--pow_em);
  text-align: center;
}
