.card--post {
  min-height: 12em;
  padding: var(--ratio--inv_em) var(--ratio--inv_em) var(--ratio--pow_em);
}

.card--post .titles {
  color: var(--color__white);
  line-height: 1em;
}
.card--post h3 {
  padding-top: 0;
}
