.form__group {
  display: grid;
  gap: var(--ratio--inv_em);
}

@media screen and (min-width: 38em) {
  .form__group {
    grid-template-columns: 1fr auto;
  }
}

.input {
  background: var(--color__white);
  border: none;
  border-radius: var(--ratio--inv--pow_em);
  font-size: 1em;
  padding: var(--ratio--inv_em);
}
