---
import "@/assets/css/reset.css";
import "@/assets/css/screen.css";
import "@/assets/css/darkMode.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  background?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = "",
  description = "The personal website of Sam Beckham",
  image = "/blog-placeholder-1.jpg",
  background = "#31394e",
} = Astro.props;

const titleTag = title ? `${title} | Sam Beckham` : "Sam Beckham";
---

<html>
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/icon.png" />
    <meta name="generator" content={Astro.generator} />

    <!-- Canonical URL -->
    <link rel="canonical" href={canonicalURL} />

    <!-- Primary Meta Tags -->
    <title>{titleTag}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="format-detection" content="telephone=no" />
    <meta name="theme-color" content={background} />

    <!-- Webmention -->
    <link rel="me" href="https://github.com/samdbeckham" />
    <link
      rel="webmention"
      href="https://webmention.io/sam.beckham.io/webmention"
    />
    <link rel="pingback" href="https://webmention.io/sam.beckham.io/xmlrpc" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
    <meta property="twitter:site" content="samdbeckham" />
    <meta property="twitter:domain" content={Astro.site} />

    <!-- PWA -->
    <link rel="manifest" href="/manifest.json" />
    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", function () {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
    <!-- TODO: Add icons? -->
  </head>
  <body>
    <slot />
  </body>
</html>
