<template>
  <post :post="book" :type="type" />
</template>

<script>
import { TYPE_BOOK } from "@/constants";

import Post from "@/layouts/PostLayout.vue";

export default {
  name: "BookTemplate",
  components: {
    Post,
  },
  data: () => ({
    type: TYPE_BOOK,
  }),
  props: {
    book: {
      type: Object,
      required: true,
    },
  },
};
</script>
