<template>
  <div>
    <the-navbar />
    <section>
      <slot name="header"></slot>
      <base-wrapper>
        <template v-if="detatched">
          <slot></slot>
        </template>
        <marber-grid v-else>
          <template #sidebar>
            <slot name="sidebar"></slot>
          </template>
          <slot></slot>
        </marber-grid>
      </base-wrapper>
    </section>
    <the-footer :background="background" />
  </div>
</template>

<script>
import BaseWrapper from "@/components/BaseWrapper.vue";
import MarberGrid from "@/components/MarberGrid.vue";
import TheFooter from "@/components/TheFooter.vue";
import TheNavbar from "@/components/TheNavbar.vue";

export default {
  name: "LayoutDefault",
  components: {
    BaseWrapper,
    MarberGrid,
    TheFooter,
    TheNavbar,
  },
  props: {
    detatched: {
      type: Boolean,
      required: false,
      default: false,
    },
    background: {
      type: String,
      required: false,
      default: "",
    },
  },
  metaInfo() {
    return {
      meta: [{ name: "theme-color", content: this.background || "#31394e" }],
    };
  },
};
</script>
