<template>
  <default-layout v-if="post" :background="post.background" detatched>
    <template #header>
      <the-header
        :background="post.background"
        :subtitle="post.subtitle"
        :title="post.title"
      />
    </template>
    <div class="marber content">
      <slot></slot>
    </div>
    <youtube-video v-if="post.video" :video-id="post.video" />
    <book-meta
      v-if="isBook"
      :cover-image="post.cover"
      :purchase-link="post.purchase_link"
    />
    <article-footer />
    <post-comments
      v-if="isArticle"
      :slug="post.slug"
      :comments="post.comments"
    />
    <read-next v-if="post.recommendations" :posts="post.recommendations" />
  </default-layout>
</template>

<script>
import "@/assets/css/code.css";

import { TYPE_ARTICLE, TYPE_BOOK } from "@/constants";

import ArticleFooter from "@/components/ArticleFooter.vue";
import BookMeta from "@/components/BookMeta.vue";
import DefaultLayout from "./Default.vue";
import PostComments from "@/components/PostComments.vue";
import ReadNext from "@/components/ReadNext.vue";
import TheHeader from "@/components/TheHeader.vue";
import YoutubeVideo from "@/components/YoutubeVideo.vue";

export default {
  components: {
    ArticleFooter,
    BookMeta,
    DefaultLayout,
    PostComments,
    ReadNext,
    TheHeader,
    YoutubeVideo,
  },
  props: {
    post: {
      type: Object,
      required: true,
    },
    type: {
      type: String,
      required: false,
      default: TYPE_ARTICLE,
    },
  },
  computed: {
    isArticle() {
      return this.type === TYPE_ARTICLE;
    },
    isBook() {
      return this.type === TYPE_BOOK;
    },
  },
};
</script>

<style>
.marber.content {
  margin-bottom: var(--ratio--pow_em);
}

.marber.content > .codepen-block,
.marber.content > .astro-code,
.marber.content > blockquote,
.marber.content > table,
.marber.content > astro-slot > .codepen-block,
.marber.content > astro-slot > .astro-code,
.marber.content > astro-slot > blockquote,
.marber.content > astro-slot > table {
  margin: var(--ratio_em) 0;
}

@media screen and (min-width: 38em) {
  .marber.content > *,
  .marber.content > astro-slot > * {
    grid-column: 4;
  }

  .marber.content > .codepen-block,
  .marber.content > .astro-code,
  .marber.content > blockquote,
  .marber.content > table,
  .marber.content > astro-slot > .codepen-block,
  .marber.content > astro-slot > .astro-code,
  .marber.content > astro-slot > blockquote,
  .marber.content > astro-slot > table {
    grid-column: -1 / 2;
    margin: var(--ratio--inv_em) 0;
  }
}
</style>
